<toolbar [pageTitle]="'Confirmar Compra'" [showBack]="true" [showSearch]="false" [showNotifications]="false" [showCart]="false" [setColor]="'var(--ion-color-secondary-shade)'" [toolColor]="'var(--ion-color-medium)'"></toolbar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalles de Compra</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="subscription-card" color="translucent" *ngIf="planDetails">
    <ion-card-header>
      <ion-card-title>{{ planDetails.title }}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <div class="price-container">
        <p class="subscription-duration">{{ planDetails.duration }}</p>
        <span class="price">{{ planDetails.price }} bs.</span>
      </div>
      <p class="subscription-date">Vigente hasta el {{ planDetails.endDate }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<div class="panel-inferior" *ngIf="planDetails">
  <div class="terminos-texto">
    Al realizar la suscripción al plan premium de Nox, usted reconoce haber leído los términos y condiciones acerca de la suscripción.
  </div>

  <!-- Total y precio -->
  <div class="total-section">
    <span class="total-label">Total:</span>
    <span class="total-precio">{{ planDetails.price }} Bs.</span>
  </div>

  <hr class="linea" />

  <!-- Botón: Pagar con tarjeta -->
  <ion-button expand="block" class="boton-pago" (click)="goToPayCard()">
  Pagar con tarjeta
</ion-button>

  <!-- Separador con número 0 -->
  <div class="separador">
    <hr class="linea" />
    <span class="numero-centro">0</span>
    <hr class="linea" />
  </div>

  <!-- Botón: Pagar con QR -->
  
<!-- Botón: Pagar con QR -->
<ion-button expand="block" class="boton-pago" (click)="goToPayQR()">
  Pagar con QR
</ion-button>
</div>
