<ion-card>
  <ion-icon name="heart-outline"></ion-icon>
  <img [src]="imagen" alt="Imagen dinámica" />

  <ion-card-header>
    <ion-card-title>{{ nombreLocal }}</ion-card-title>
    <ion-badge color="primary">
      <ion-icon name="star"></ion-icon>
      8.6
    </ion-badge>
  </ion-card-header>

  <ion-card-content>
    <ion-card-subtitle>
      <ion-icon name="restaurant-outline"></ion-icon> {{ tipo }}
    </ion-card-subtitle>
    <p>
      <ion-icon name="location-outline"></ion-icon> {{ direccion }}
    </p>
  </ion-card-content>
</ion-card>
