ion-button {
        margin-top: 1rem;
        background: linear-gradient(90deg, #6030ff,#3FBA9A) border-box;
        border-radius: 30px;
    }
    ion-title {
        color: white;
    }
.mini{
  
  font-size: small;
}