<toolbar [pageTitle]="'Registrarse'" [showCart]="false" [showSearch]="false" [showNotifications]="false" [showBack]="true" [setRoute]="'/start'" [toolColor]="'var(--ion-color-dark)'" [setColor]="'var(--ion-color-primary)'"></toolbar>

<ion-content [fullscreen]="true" class="edit-profile-content">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="registerForm" (ngSubmit)="register()">

          <!-- Email -->
          <ion-item class="custom-item">
            <ion-label position="floating">
              <ion-text color="secondary">Email</ion-text>
            </ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
            <p *ngIf="registerForm.get('email')?.errors?.['required']">El Email es requerido</p>
            <p *ngIf="registerForm.get('email')?.errors?.['email']">Email inválido</p>
          </ion-text>

          <!-- Username -->
          <ion-item class="custom-item">
            <ion-label position="floating">
              <ion-text color="secondary">Nombre de usuario</ion-text>
            </ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">
            <p *ngIf="registerForm.get('username')?.errors?.['required']">El nombre de usuario es requerido</p>
            <p *ngIf="registerForm.get('username')?.errors?.['minlength']">Debe tener al menos 3 caracteres</p>
          </ion-text>

          <!-- Name -->
          <ion-item class="custom-item">
            <ion-label position="floating">
              <ion-text color="secondary">Nombre</ion-text>
            </ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid">
            <p *ngIf="registerForm.get('name')?.errors?.['required']">El nombre es requerido</p>
            <p *ngIf="registerForm.get('name')?.errors?.['minlength']">Debe tener al menos 3 caracteres</p>
          </ion-text>

          <!-- Lastname -->
          <ion-item class="custom-item">
            <ion-label position="floating">
              <ion-text color="secondary">Apellido</ion-text>
            </ion-label>
            <ion-input formControlName="lastname" type="text"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.invalid">
            <p *ngIf="registerForm.get('lastname')?.errors?.['required']">El apellido es requerido</p>
            <p *ngIf="registerForm.get('lastname')?.errors?.['minlength']">Debe tener al menos 3 caracteres</p>
          </ion-text>

          <!-- Password -->
          <ion-item class="custom-item">
            <ion-label position="floating">
              <ion-text color="secondary">Contraseña</ion-text>
            </ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
            <p *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es requerida</p>
          </ion-text>

          <!-- Enlace login -->
          <ion-text color="secondary" class="login-link">
            <a routerLink="/login" style=" color: var(--ion-color-secondary); text-decoration: underline;">
              Ya tengo una cuenta, iniciar sesión
            </a>
          </ion-text>

          <!-- Botón de registro -->
          <ion-button expand="block" color="gradient" type="submit">
            Registrar usuario
          </ion-button>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
