<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crear cuenta  </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <ion-input formControlName="email" label="Email:" type="email" fill="outline" mode="md"></ion-input>
          <ion-text *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.valid === false">
            <p *ngIf="registerForm.get('email')?.errors?.['required']">El Email es requerido</p>
            <p *ngIf="registerForm.get('email')?.valid===false">Email invalido</p>
          </ion-text>
          <ion-input formControlName="nick" label="Nombre de usuario:" type="text" fill="outline" mode="md"></ion-input>
          <ion-text *ngIf="registerForm.get('nick')?.touched && registerForm.get('nick')?.valid === false">
            <p *ngIf="registerForm.get('nick')?.errors?.['required']">El nombre es requerido</p>
            <p *ngIf="registerForm.get('nick')?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres</p>
          </ion-text>
          <ion-input formControlName="name" label="Nombre:" type="text" fill="outline" mode="md"></ion-input>
          <ion-text *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.valid === false">
            <p *ngIf="registerForm.get('name')?.errors?.['required']">El nombre es requerido</p>
            <p *ngIf="registerForm.get('name')?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres</p>
          </ion-text>
          <ion-input formControlName="lastname" label="Apellido:" type="text" fill="outline" mode="md"></ion-input>
          <ion-text *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.valid === false">
            <p *ngIf="registerForm.get('lastname')?.errors?.['required']">El nombre es requerido</p>
            <p *ngIf="registerForm.get('lastname')?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres</p>
          </ion-text>
          <ion-input formControlName="password" label="Contraseña:  " type="password" fill="outline"
            mode="md"></ion-input>
          <ion-text *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.valid === false">
            <p *ngIf="registerForm.get('password')?.errors?.['required']">El Password es requerido</p>
          </ion-text>
          <ion-button type="submit">Registrar usuario</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-button (click)="subirRestaurantes()">
    Subir restaurantes a Firebase
  </ion-button> -->
</ion-content>
