<ion-content class="ion-padding" [fullscreen]="true">
      <ion-content [scrollEvents]="true" class="ion-padding">
        <ion-searchbar placeholder="Buscar..." (click)="expandModal()"></ion-searchbar>

        <ion-segment [value]="selectedTab" (ionChange)="onSegmentChange($event)">
          <ion-segment-button value="tab1">
            <ion-label>Lugares</ion-label>
          </ion-segment-button>
          <ion-segment-button value="tab2">
            <ion-label>Eventos</ion-label>
          </ion-segment-button>
        </ion-segment>

        <!-- Filtros fijos -->
        <filter-actions></filter-actions>

        <!-- Lista con scroll -->
        <div style="height: 50vh; overflow-y: auto;" (ionScroll)="loadMore($event)">
          <ng-container *ngIf="selectedTab === 'tab1'">
            <media-card *ngFor="let lugar of lugares"></media-card>
          </ng-container>

          <ng-container *ngIf="selectedTab === 'tab2'">
            <media-card-evento
              *ngFor="let evento of eventos"
              [nombreLocal]="evento.nombreLocal"
              [fecha]="evento.fecha"
              [horario]="evento.horario"
              [tipo]="evento.tipo"
              [imagen]="evento.imagen"
            ></media-card-evento>
          </ng-container>
        </div>
      </ion-content>
</ion-content>
