<toolbar [toolColor]="'var(--ion-color-medium)'"  [setColor]="'var(--ion-color-secondary)'" [pageTitle]="'Mis Entradas'" [showCart]="false" [showSearch]="false" [showNotifications]="false" [showBack]="true"></toolbar>

<ion-content [fullscreen]="true">
  <div class="tickets-container">
    <div class="ticket-card" *ngFor="let ticket of tickets" (click)="verTicket(ticket)">
      <div class="ticket-content-wrapper"> <div class="ticket-header">
          <h2>{{ ticket.eventoNombre }}</h2>
          <p *ngIf="ticket.fecha">{{ ticket.fecha | date: 'mediumDate' }}</p>
        </div>
        <div class="ticket-details">
          <p>{{ ticket.producto || '-' }}</p>
          <p *ngIf="ticket.descripcion">{{ ticket.descripcion }}</p>
        </div>
      </div>
      <ion-icon name="chevron-forward-outline" class="right-arrow"></ion-icon> </div>
    <div *ngIf="tickets.length === 0" class="no-tickets">
      <ion-icon name="ticket-outline"></ion-icon>
      <p>No tienes entradas compradas aún.</p>
    </div>
  </div>
</ion-content>