<ion-header [translucent]="true">
  <ion-toolbar class="header" style="background-color: #30324b;">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="large" routerLink="/perfil" color="primary"></ion-icon>
    </ion-buttons>
    <ion-title color="primary">Listado de locales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let local of locales">
      <ion-label>
        <h2>{{ local.nombre }}</h2>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="goToEditPanel(local.id)">Editar</ion-button>
        <ion-button color="danger" (click)="confirmDelete(local.id)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="gradient-button" (click)="goToNewLocal()">Agregar Nuevo Local</ion-button>
</ion-content>