.gradient-button {
    
    height: 36px;
    --background: linear-gradient(90deg, #b266ff, #6ef9c5);
    color: #000;
    margin: auto;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
  }
    .ion-list {
    --ion-item-background: transparent;
    --font-family: 'Montserrat', sans-serif;
  }