<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Entradas Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list *ngIf="menu.length > 0; else loading">
    <ion-item *ngFor="let item of menu">
      <ion-label>
        <h2>{{ item.tipo }}</h2>
        <p>{{ item.descripcion }}</p>
        <strong>Bs {{ item.precio }}</strong>
      </ion-label>
      <ion-button slot="end" color="primary" (click)="addToCart(item)">
        Añadir
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando entradas...</p>
  </ng-template>
</ion-content>