<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Entradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let item of menu">
      <ion-label>
        <h3>{{ item.tipo }}</h3>
        <p>{{ item.description || item.descripcion }}</p>
        <strong>Bs {{ item.price || item.precio }}</strong>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button (click)="decrement(item)" [disabled]="item.quantity === 0">-</ion-button>
        <ion-label>{{ item.quantity }}</ion-label>
        <ion-button (click)="increment(item)">+</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="total > 0">
    <ion-card-content>
      <p><strong>Total:</strong> Bs {{ total }}</p>
      <ion-button expand="block" color="success" (click)="addToCart()">
        Agregar al carrito
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
