<ion-header [translucent]="true">
  <toolbar [pageTitle]="'Menú'" [showBack]="true" [showSearch]="false"></toolbar>
  <ion-toolbar class="category-toolbar">
    <ion-segment [(ngModel)]="tipoSeleccionado" mode="md">
      <ion-segment-button *ngFor="let tipo of tiposMenu" [value]="tipo">
        <ion-label>{{ tipo | titlecase }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="app-wrapper">
    <div *ngIf="menu.length > 0;">
      <app-item-compras
        *ngFor="let item of menu | tipoFiltro:tipoSeleccionado"
        [image]="item.imagenes?.[0] || 'https://via.placeholder.com/150'"
        [nombreComida]="item.producto"
        [descripcion]="item.descripcion"
        [precio]="item.precio + ' Bs.'"
        [quantity]="item.quantity"
        (quantityChange)="aumentarCantidad(item, $event)">
      </app-item-compras>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar style="height: 70px; padding: 8px 20px;">
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <div class="footer-info">
          <span class="productos"><strong>{{ totalProductos }} productos</strong></span>
          <span class="precio">{{ totalPrecio | currency:'Bs ' }}</span>
        </div>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button class="footer-button" (click)="agregarAlCarrito()">
          Agregar a tu carrito
          <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>