<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="large" routerLink="/list-locales" color="primary"></ion-icon>
    </ion-buttons>
    <ion-title color="primary">Nuevo local</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <form [formGroup]="localForm" (ngSubmit)="onSubmit()">
    <div class="cover-container">
      <img
        *ngIf="localForm.value.imagen"
        [src]="localForm.value.imagen"
        alt="Portada"
        class="cover-img"
      />
      <ion-button
        expand="block"
        shape="round"
        (click)="toggleCoverInput()"
        class="gradient-button"
      >
        Cambiar Portada
      </ion-button>
      <ion-input
        *ngIf="showCoverInput"
        formControlName="imagen"
        placeholder="Link de la imagen"
        class="input-custom"
        id="imagenInput"
      ></ion-input>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Nombre del Establecimiento</ion-label>
      <ion-input formControlName="nombre" class="input-custom"></ion-input>
      <ion-note *ngIf="localForm.get('nombre')?.errors?.['required'] && localForm.get('nombre')?.touched" color="danger">
        Este campo es requerido
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Dirección</ion-label>
      <ion-input formControlName="direccion" class="input-custom"></ion-input>
      <ion-note *ngIf="localForm.get('direccion')?.errors?.['required'] && localForm.get('direccion')?.touched" color="danger">
        Este campo es requerido
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Horario de Apertura (HH:MM)</ion-label>
      <ion-input formControlName="horarioApertura"  class="input-custom"></ion-input>
      <!-- <ion-note *ngIf="localForm.get('horarioApertura')?.errors?.['invalidHora']" color="danger">
        Formato inválido (use HH:MM)
      </ion-note> -->
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Horario de Cierre (HH:MM)</ion-label>
      <ion-input formControlName="horarioCierre" class="input-custom"></ion-input>
      <!-- <ion-note *ngIf="localForm.get('horarioCierre')?.errors?.['invalidHora']" color="danger">
        Formato inválido (use HH:MM)
      </ion-note> -->
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Días de Atención (separados por comas)</ion-label>
      <ion-input formControlName="dias" class="input-custom"></ion-input>
      <ion-note *ngIf="localForm.get('dias')?.errors?.['required'] && localForm.get('dias')?.touched" color="danger">
        Este campo es requerido
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Tipo de Establecimiento</ion-label>
      <ion-input formControlName="tipo" class="input-custom"></ion-input>
      <ion-note *ngIf="localForm.get('tipo')?.errors?.['required'] && localForm.get('tipo')?.touched" color="danger">
        Este campo es requerido
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Latitud</ion-label>
      <ion-input formControlName="lat" type="number" class="input-custom"></ion-input>
      <ion-note *ngIf="localForm.get('lat')?.errors?.['required'] && localForm.get('lat')?.touched" color="danger">
        Este campo es requerido
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Longitud</ion-label>
      <ion-input formControlName="lng" type="number" class="input-custom"></ion-input>
      <ion-note *ngIf="localForm.get('lng')?.errors?.['required'] && localForm.get('lng')?.touched" color="danger">
        Este campo es requerido
      </ion-note>
    </ion-item>

    </form>

  <div class="Etiquetas">
    <h4>Etiquetas del Local</h4>
    <p>Usa etiquetas para que tu negocio sea más fácil de encontrar</p>
    <div class="chips-row">
      <ion-chip color="secondary">
        <ion-icon name="restaurant" color="secondary"></ion-icon>
        <ion-label>Tipo de Comida</ion-label>
        <ion-icon name="caret-down-outline" color="secondary"></ion-icon>
      </ion-chip>

      <ion-chip color="secondary">
        <ion-icon name="card" color="secondary"></ion-icon>
        <ion-label>Tipos de Pago</ion-label>
        <ion-icon name="caret-down-outline" color="secondary"></ion-icon>
      </ion-chip>

      <ion-chip color="secondary">
        <ion-icon name="cash" color="secondary"></ion-icon>
        <ion-label>Rango de Precios</ion-label>
        <ion-icon name="caret-down-outline" color="secondary"></ion-icon>
      </ion-chip>
    </div>
  </div>

  <ion-item lines="strong" color="translucent">
    <ion-label class="ion-text-wrap">
      <h3>Gestionar Menú</h3>
    </ion-label>
    <ion-icon slot="end" name="chevron-up-outline" color="secondary"></ion-icon>
  </ion-item>

  <ion-item lines="strong" color="translucent" button [routerLink]="'/aniadir-menu'">
    <ion-label color="primary">Añadir elementos al Menú</ion-label>
    <ion-icon name="chevron-forward-outline" slot="end" class="option-icon" color="primary"></ion-icon>
  </ion-item>
  <ion-item lines="strong" color="translucent" button>
    <ion-label color="primary">Editar el Menú</ion-label>
    <ion-icon name="chevron-forward-outline" slot="end" class="option-icon" color="primary"></ion-icon>
  </ion-item>
  <ion-item lines="strong" color="translucent" button>
    <ion-label color="primary">Ubicación en el Mapa</ion-label>
    <ion-icon name="chevron-forward-outline" slot="end" class="option-icon" color="primary"></ion-icon>
  </ion-item>
  <ion-item lines="strong" color="translucent" button>
    <ion-label color="primary">Gestionar Reseñas</ion-label>
    <ion-icon name="chevron-forward-outline" slot="end" class="option-icon" color="primary"></ion-icon>
  </ion-item>
  <ion-item lines="strong" color="translucent" button>
    <ion-label color="primary">Gestionar Publicidad</ion-label>
    <ion-icon name="chevron-forward-outline" slot="end" class="option-icon" color="primary"></ion-icon>
  </ion-item>
  <ion-item lines="strong" color="translucent" button>
    <ion-label color="primary">Cargar fotos del local</ion-label>
    <ion-icon name="chevron-forward-outline" slot="end" class="option-icon" color="primary"></ion-icon>
  </ion-item>

  <div class="cover-container">
    <ion-button
      expand="block"
      shape="round"
      type="submit"
      [disabled]="isSubmitting || localForm.invalid"
      class="gradient-button"
      (click)="onSubmit()"
    >
      Guardar Cambios
    </ion-button>
  </div>
</ion-content>
