<toolbar [pageTitle]="evento?.nombre || 'Cargando...'" [showBack]="true" [showSearch]="false"></toolbar>
<ion-content [fullscreen]="true" class="contenido-local">
  <div class="app-wrapper">
      <!-- 🟠 Sección 1: Información del evento -->
    <div class="seccion-imagen" *ngIf="evento">
      <img [src]="evento.imagen || 'https://picsum.photos/375/200'" alt="Imagen del evento" />
      <div class="info-local">
        <p>{{ evento.nombre }} ~ {{ evento.direccion }}</p>
        <p>
          {{ evento.fechas?.inicio.toDate() | date: 'medium' }}<br>
          {{ evento.fechas?.final.toDate() | date: 'medium' }}
        </p>
        <p><strong>Horario:</strong> {{ evento.horario?.inicio }} - {{ evento.horario?.cierre }}</p>
        <ion-button expand="block" fill="clear" [routerLink]="['/comprar-entradas', evento.id]">
          Comprar entradas
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </div>

    <!-- 🟡 Sección 2: Entradas disponibles -->
    <div class="entradas-disponibles" *ngIf="entradas.length > 0">
      <ion-item lines="none" >
        <ion-label color="success">Entradas disponibles</ion-label>
        <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let entrada of entradas">
          <ion-label>
            <p><strong>{{ entrada.producto }}</strong></p>
          </ion-label>
          <ion-badge slot="end" class="dynamic-badge">{{ entrada.cantidad}}</ion-badge>
        </ion-item>
      </ion-list>
    </div>

    <!-- 🟢 Sección 3: ¿Cómo llegar? -->
    <div class="seccion-como-llegar" *ngIf="evento">
      <h2>¿Cómo llegar?</h2>
      <img src="../../../assets/images/mapa.png" alt="">
      <ion-button expand="block" [href]="'https://www.google.com/maps/search/?api=1&query=' + evento.lat + ',' + evento.lng" target="_blank">
        Abrir en Google Maps
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
