<ion-card>
  <ion-icon name="heart-outline"></ion-icon>
  <img alt="Imagen del local" [src]="imagen || 'https://ionicframework.com/docs/img/demos/card-media.png'" />
  <ion-card-header>
    <ion-card-title>{{ nombre }}</ion-card-title>
    <ion-badge *ngIf="calificacion">
      <ion-icon name="star"></ion-icon>
      {{ calificacion }}
    </ion-badge>
  </ion-card-header>

  <ion-card-content>
    <ion-card-subtitle *ngIf="tipo">
      <ion-icon name="restaurant-outline"></ion-icon> {{ tipo }}
    </ion-card-subtitle>
    <p *ngIf="direccion">
      <ion-icon name="location-outline"></ion-icon> {{ direccion }}
    </p>
    <div *ngIf="etiquetas?.length">
      <ion-chip *ngFor="let et of etiquetas" color="secondary" style="margin:2px;">
        <ion-label>{{ et }}</ion-label>
      </ion-chip>
    </div>
  </ion-card-content>
</ion-card>
