<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
      <ion-title>Comprar Entradas</ion-title>
    </ion-buttons>
    <ion-icon slot="end" name="cart-outline" [routerLink]="'/cart'">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="margin-right:20px ;">
  <div class="app-wrapper">
    <h4>Entradas Disponibles</h4>

    <ion-list style="background: transparent;">
      <item-entradas
        *ngFor="let entrada of entradas"
        [image]="entrada.image || 'https://via.placeholder.com/150'"
        [producto]="entrada.producto"
        [descripcion]="entrada.descripcion"
        [precio]="entrada.precio"
        [cantidad]="entrada.cantidad"
        [quantity]="entrada.quantity"
        (quantityChange)="actualizarCantidad(entrada, $event)">
      </item-entradas>
    </ion-list>

    <div class="seccion-mapa-asientos">
      <h4>Mapa de Asientos</h4>
      <img src="../../../assets/images/mapa.png" alt="Mapa" />
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar style="height: 70px; padding: 8px 20px;">
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <div class="footer-info">
          <span class="productos"><strong>{{ totalCantidad }} entradas</strong></span>
          <span class="precio">{{ totalPrecio | currency:'Bs ' }}</span>
        </div>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button class="footer-button" shape ="round" (click)="confirmarCompra()">
          Agregar a carrito
          <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>