.header {
  --background: #171826;
    font-family: "Futura Md BT", sans-serif;
}

.banner {
  width: 100%;
  height: 101px;
  background: var(--ion-color-danger);
  padding: 20px 16px;

  h2 {
    font-family: "Forta", sans-serif;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
  }

  ion-chip {
    margin-top: 7px;
    --background: var(--ion-color-danger);
    --color: #08080D;
    font-weight: bold;

    ion-label {
      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
      margin-left: 5px;
    }
  }
}
.titulo-seccion {
  margin-top: 20px;

  h3 {
    color : var(--ion-color-danger);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    padding: 0px 12px 20px 12px;
  }
}

.historial-container {
  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
    border-bottom: 1px solid #606d67;
    padding-bottom: 10px;

    .info-left {
      h4 {
        color: #FD935E;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        margin: 0;
      }

      p {
        color: #de6a30;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        margin: 2px 0 0;
      }
    }

    .info-right {
      display: flex;
      align-items: center;

      .puntos {
        color: var(--ion-color-fucsia);
        font-weight: 300;
        font-family: "Montserrat", sans-serif;
        margin-right: 4px;
      }

      .icono {
        font-size: 1.2rem;
        color: #FF3C69;
      }
    }
  }
}
