<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/start" text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="edit-profile-content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="form" (ngSubmit)="login()">
          <!-- Usuario -->
          <ion-item class="custom-item">
            <ion-label position="floating">
              <ion-text color="secondary">Nombre de usuario</ion-text>
            </ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="form.get('username')?.touched && form.get('username')?.invalid">
            <p *ngIf="form.get('username')?.errors?.['required']">El nombre de usuario es requerido</p>
          </ion-text>

          <!-- Contraseña -->
          <ion-item class="custom-item">
            <ion-label position="floating">
              <ion-text color="secondary">Contraseña</ion-text>
            </ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
            <p *ngIf="form.get('password')?.errors?.['required']">La contraseña es requerida</p>
          </ion-text>

          <!-- Enlaces adicionales -->
          <ion-text color="secondary" class="mini" style="color: var(--ion-color-secondary); text-decoration: underline;"> 
            <p>Me olvidé mi usuario o contraseña</p>
          </ion-text>
          <ion-text color="secondary" class="mini"> 
            <a routerLink="/registro" style="color: var(--ion-color-secondary); text-decoration: underline;">
              ¿No tienes una cuenta? Regístrate
            </a>
          </ion-text>

          <!-- Botón -->
          <ion-button expand="block" color="gradient" type="submit">
            Iniciar sesión
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
