<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="large" routerLink="/perfil"></ion-icon>
    </ion-buttons>
    <ion-title>panelAdmin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">panelAdmin</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class = "cover-container">
    <img src="assets/img/default-cover.png" alt="Portada" class="cover-img" />
    <ion-button>
      Cambiar portada
    </ion-button>
  </div>

  
</ion-content>

