.info-row {
  --background: transparent;
  color: white;

  .info-icon {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #b380ff;
  }

  .info-label {
    h3 {
      margin: 0;
      font-size: 14px;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      color: #98ffe0;
    }

    p {
      margin: 0;
      font-size: 13px;
      font-family: "Montserrat", sans-serif;
      color: #98ffe0;
    }
  }
}
