<ion-header [translucent]="true">
  <ion-toolbar class = "header">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" [routerLink]="'/perfil'" color = "primary"></ion-icon>
    </ion-buttons>
    <ion-title color = "primary">Gestionar mi Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="cover-container">
      <img *ngIf="eventForm.value.imagen" [src]="eventForm.value.imagen" alt="Portada" class="cover-img" />
      <ion-button expand="block" shape="round" (click)="toggleCoverInput()" class="gradient-button">
        Cambiar Portada
      </ion-button>
      <ion-input
        *ngIf="showCoverInput"
        formControlName="imagen"
        placeholder="Link de la imagen"
      ></ion-input>
    </div>

    <ion-item>
      <ion-label position="floating">Nombre del Evento</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input formControlName="direccion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tipo de Evento</ion-label>
      <ion-input formControlName="tipo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha Inicio</ion-label>
      <ion-datetime formControlName="fechasInicio"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha Final</ion-label>
      <ion-datetime formControlName="fechasFinal"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Horario Inicio</ion-label>
      <ion-input formControlName="horarioInicio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Horario Cierre</ion-label>
      <ion-input formControlName="horarioCierre"></ion-input>
    </ion-item>


    <div class="cover-container">
      <ion-button
        expand="block"
        shape="round"
        type="submit"
        [disabled]="isSubmitting || eventForm.invalid"
        class="gradient-button"
      >
        Guardar Cambios
      </ion-button>
    </div>
  </form>

  <div class="Etiquetas">
    <h4>Etiquetas del Evento</h4>
    <p>Usa etiquetas para que tu evento sea más fácil de encontrar</p>
    <div class="chips-row">
      <ion-chip color = "secondary">
        <ion-icon name="ticket" color="secondary" ></ion-icon>
        <ion-label>Precio de Entrada</ion-label>
        <ion-icon name="caret-down-outline" color="secondary"></ion-icon>
      </ion-chip>
      
      <ion-chip color = "secondary">
        <ion-icon name="card" color="secondary"></ion-icon>
        <ion-label>Tipos de Pago</ion-label>
        <ion-icon name="caret-down-outline" color="secondary"></ion-icon>
      </ion-chip>

    </div>
  </div>

  <ion-item lines="strong" color = "translucent" button [routerLink]="'/gestion-entradas'" >
    <ion-label color = primary>
      Gestionar Entradas
    </ion-label>
    <ion-icon name="chevron-forward-outline" slot="end" class="option-icon" color = "primary"></ion-icon>
  </ion-item>
    <ion-item lines="strong" color = "translucent" button >
    <ion-label color = primary>
      Ubicación en el Mapa
    </ion-label>
    <ion-icon name="chevron-forward-outline" slot="end" class="option-icon" color = "primary"></ion-icon>
  </ion-item>
    <ion-item lines="strong" color = "translucent" button >
    <ion-label color = primary>
      Gestionar Publicidad
    </ion-label>
    <ion-icon name="chevron-forward-outline" slot="end" class="option-icon" color = "primary"></ion-icon>
  </ion-item>
  <ion-item lines="strong" color = "translucent" button >
    <ion-label color = primary>
      Cargar fotos de Evento
    </ion-label>
    <ion-icon name="chevron-forward-outline" slot="end" class="option-icon" color = "primary"></ion-icon>
  </ion-item>

    <div class = "cover-container">
    <ion-button expand="block" shape="round" class="gradient-button">
      Guardar Cambios
    </ion-button>
  </div>
  
</ion-content>

