<toolbar [pageTitle]="'Carrito'" [showSearch]="false" [showCart]="false" [showBack]="true" [showNotifications]="true" ></toolbar>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="cartItems.length > 0; else emptyCart">
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <h2>{{ isLocal ? 'Lugar seleccionado' : 'Evento seleccionado' }}</h2>
      </ion-label>
      <ion-button fill="clear" color="warning" class="view-products-button" (click)="goToReturnPath()">
        Ver / añadir productos
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-item>

    
      <ion-item *ngFor="let item of cartItems; let i = index" class="cart-item">
        <ion-thumbnail slot="start">
          <img [src]="item.image || 'assets/placeholder.png'" />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h2>{{ item.name || item.producto }}</h2>
          <p>{{ item.description || item.descripcion }}</p>
          <h3>Bs {{ item.price || item.precio }}</h3>
        </ion-label>
        <ion-button fill="clear" (click)="decrement(item)">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
        <ion-badge>{{ item.quantity || 1 }}</ion-badge>
        <ion-button fill="clear" (click)="increment(item)">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
   

    <div class="ion-padding-horizontal" *ngIf="isLocal">
      <ion-label class="note-label" color="fucsia">Añadir una nota:</ion-label>
      <ion-textarea placeholder="Notas" [(ngModel)]="note"></ion-textarea>
    </div>
  </ng-container>

  <ng-template #emptyCart>
    <ion-text color="light">
      <p class="ion-padding">Tu carrito está vacío.</p>
    </ion-text>
  </ng-template>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-item lines="none" class="total-item">
    <ion-label>Total</ion-label>
    <ion-label class="ion-text-right">Bs {{ total }}</ion-label>
  </ion-item>
  <ion-button expand="block" class="pay-button" (click)="goToBuyCheck()">
    Pagar
  </ion-button>
</ion-footer>