<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lugares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">lugares</ion-title>
    </ion-toolbar>
  </ion-header>


  <swiper-container slides-per-view="1" space-between="10" navigation="true" pagination="true" class="mySwiper">
    <swiper-slide>
      <ion-card>
        <img src="https://source.unsplash.com/featured/?nature" />
        <ion-card-header>
          <ion-card-title>Valle de la Luna</ion-card-title>
        </ion-card-header>
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card>
        <img src="https://source.unsplash.com/featured/?mountain" />
        <ion-card-header>
          <ion-card-title>Muela del Diablo</ion-card-title>
        </ion-card-header>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</ion-content>