.header {
  --background: #171826;
}

.cover-container {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

  .cover-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
  }

  .gradient-button {
    
    height: 36px;
    --background: linear-gradient(90deg, #b266ff, #6ef9c5);
    color: #000;
    margin: auto;
    padding: 1rem;
  }
}
ion-button {
  text-transform: none;
}



.Etiquetas h4 {
    color: var(--ion-color-secondary);
    font-family: "Monstserrat SemiBold";
    font-size: 14px;
    margin-left: 20px;
}
.Etiquetas p {
    color: var(--ion-color-secondary);
    font-family: "Monstserrat Regular";
    font-size: 12px;
    margin-left: 20px;
}

.chips-row {
    margin-left: 20px;
}

.ion-text-wrap {
    display: flex;
    color: var(--ion-color-secondary);
    font-family: "Monstserrat SemiBold";
    font-size: 16px;
    
}
