<ion-content class="ion-padding">
  <h2>Agregar un Comentario</h2>
  <ion-textarea
    [(ngModel)]="comentario"
    placeholder="Escribe tu comentario"
    rows="5">
  </ion-textarea>

  <div class="stars">
    <ion-icon
      *ngFor="let star of [1, 2, 3, 4, 5]"
      [name]="star <= resenia ? 'star' : 'star-outline'"
      (click)="resenia = star">
    </ion-icon>
  </div>

  <ion-button expand="block" (click)="agregarComentario()">Enviar</ion-button>
  <ion-button expand="block" color="medium" (click)="cerrarModal()">Cancelar</ion-button>
</ion-content>
