<ion-content [ngClass]="showCards ? 'height-30' : 'height-8'">
  <div class="filter-chips" style="display: flex; align-items: center; gap: 12px;height: 50px;">
    <ion-button fill="clear" class="filter-button">
      <ion-icon name="filter" slot="start"></ion-icon>
      <ion-label>Filtros</ion-label>
    </ion-button>

    <div class="chips-scroll" style="overflow-x: auto; white-space: nowrap;height: fit-content;">
      <div class="chips-container" style="display: inline-flex; gap: 8px;">
        <ion-chip *ngFor="let tipo of tipos" (click)="onChipEtiquetaClick(tipo)"
          [color]="activeEtiqueta === tipo ? 'primary' : 'secondary'" [outline]="activeEtiqueta !== tipo">
          <ion-label>{{ tipo }}</ion-label>
        </ion-chip>
      </div>
    </div>
  </div>
</ion-content>