<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="edit-profile-content">
  <form (ngSubmit)="guardarCambios()" #profileForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="userData.name" name="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input [(ngModel)]="userData.lastname" name="lastname" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombre de usuario</ion-label>
        <ion-input [(ngModel)]="userData.username" name="username" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Edad</ion-label>
        <ion-input type="number" [(ngModel)]="userData.years" name="years" required></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" [disabled]="!profileForm.form.valid">
      Guardar cambios
    </ion-button>
  </form>
</ion-content>
