<toolbar [pageTitle]="'Comprar Entradas'" [showBack]="true"[showSearch]="false" [showNotifications]="false"></toolbar>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item>
    <ion-avatar slot="start" style="--border-radius: 0;">
      <img src="https://picsum.photos/id/237/200/300" alt="Imagen de ">
    </ion-avatar>
    <ion-label>
      <h2>Nombre item</h2>
      <p>Descripcion</p>
      <p>Precio</p>
    </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start" style="--border-radius: 0;">
      <img src="https://picsum.photos/id/237/200/300" alt="Imagen de ">
    </ion-avatar>
    <ion-label>
      <h2>Nombre item</h2>
      <p>Descripcion</p>
      <p>Precio</p>
    </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start" style="--border-radius: 0;">
      <img src="https://picsum.photos/id/237/200/300" alt="Imagen de ">
    </ion-avatar>
    <ion-label>
      <h2>Nombre item</h2>
      <p>Descripcion</p>
      <p>Precio</p>
    </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start" style="--border-radius: 0;">
      <img src="https://picsum.photos/id/237/200/300" alt="Imagen de ">
    </ion-avatar>
    <ion-label>
      <h2>Nombre item</h2>
      <p>Descripcion</p>
      <p>Precio</p>
    </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
</ion-list>
<div class="buttons" >
<ion-button class="editar" expand="block"  >
  Editar
</ion-button>
<ion-button expand="block"  >
  Eliminar Selección
</ion-button>
</div>
</ion-content>
