<ion-tabs>
  <ion-router-outlet></ion-router-outlet> <!-- Agregado para manejar las rutas dinámicamente -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" [routerLink]="'/home'">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lugares" [routerLink]="'/lugares'">
      <ion-icon name="location"></ion-icon>
      <ion-label>Locales</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="eventos" [routerLink]="'/eventos'">
      <ion-icon name="ticket"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" [routerLink]="'/perfil'">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
