<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Añadir al Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Añadir al Menu</ion-title>
    </ion-toolbar>
  </ion-header> 

  <div class="container-1">
    <h3>Cargar Menu</h3>
    <p> Formas de agregar Menu</p>
    <ion-list>
      <ion-item button detail = "true">
        <ion-label>Cargar menu (archivo csv)</ion-label>
      </ion-item>
      <ion-item button detail = "true">
        <ion-label>Añadir elemento manualmente</ion-label>
      </ion-item>
    </ion-list>

  </div>

    

</ion-content>

