.header {
  --background: #171826;
    font-family: "Futura Md BT", sans-serif;
}
.menu-upload-card {

  .section-title {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #85eecb;
  }

  .subtitle-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #cda8f5;
    font-size: 0.95rem;
    font-family: "Montserrat", sans-serif;
    padding-top: 15px;
    padding-left: 15px;
    margin-right: 20px;
  }

  .subtitle-icon {
    font-size: 1.2rem;
  }

  .menu-option {
    margin-top: 2px;
    border-top: 1px solid #606d67;

    ion-label {
      font-size: 1.05rem;
      font-family: "Montserrat", sans-serif;
      color: #8fffd1;
    }

    .option-icon {
      font-size: 1.3rem;
      color: #cda8f5;
    }
  }
}

.custom-input {

  border-radius: 20px;
  margin-top: 10px;
  --background: #171826;
  --color: #fff;
  font-weight: 300;

  ion-label {
    color: #BFA4F4;
    font-family: "Montserrat", sans-serif;
  }

  .clear-icon {
    color: #BFA4F4;
    margin-top: 25px;
    margin-right: 10px;
    cursor: pointer;
  }
}

.cargaFotos{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  font-weight: 300;
  --background: #171826;
  --color: #BFA4F4;
  ion-label {
    font-family: "Montserrat", sans-serif;
  }
}

.image-preview-grid {
  margin-top: -32px;
}


.image-preview {
  height: 108px;
  width: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #1f1f28;
  ion-icon.placeholder-icon {
    font-size: 40px;
    color: #888;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
}

  .gradient-button {
    --background: linear-gradient(90deg, #b266ff, #6ef9c5);
    font-family: "Montserrat", sans-serif;
    color: #000;
    margin: auto;
    margin-top: -15px;
    padding: 20px 20px 20px 20px;
  }

ion-button {
  text-transform: none;
}
