<toolbar [pageTitle]="'Historial'" [showSearch]="false" [showCart]="false" [showNotifications]="false" [showBack]="true" (click)="navigateBack()"></toolbar>

<ion-content [fullscreen]="true" class="historial-content">

  <!-- Locales visitados recientemente -->
  <ion-text color="success" class="subtitle">
    <h2 class="section-title">Lugares visitados recientemente</h2>
  </ion-text>

  <swiper-container slides-per-view="1.2" space-between="10" navigation="false" pagination="false" class="historial-swiper" style="width: 375px; height: 350px;">
    <swiper-slide>
      <mid-card></mid-card>
    </swiper-slide>
    <swiper-slide>
      <mid-card></mid-card>
    </swiper-slide>
  </swiper-container>

  <ion-text color="success" class="subtitle">
    <h2 class="section-title">Historial de compra</h2>
  </ion-text>
  <ion-list lines="none">
    <ion-item>
      <ion-label>
        <ion-text color="secondary">
          <h3 class="compra-nombre">Make Sushi</h3>
        </ion-text>
        <p class="compra-fecha">24 de abril de 2025</p>
      </ion-label>
      <ion-note slot="end" color="success">56 Bs</ion-note>
    </ion-item>
    
    <ion-item>
      <ion-label>
        <ion-text color="secondary">
          <h3 class="compra-nombre">Pollos copacabana</h3>
        </ion-text>
        <p class="compra-fecha">05 de abril de 2025</p>
      </ion-label>
      <ion-note slot="end" color="success">20 Bs</ion-note>
    </ion-item>
    
    <ion-item>
      <ion-label>
        <ion-text color="secondary">
          <h3 class="compra-nombre">Burguer king</h3>
        </ion-text>
        <p class="compra-fecha">15 de marzo de 2025</p>
      </ion-label>
      <ion-note slot="end" color="success">112 Bs</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
