<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
      <ion-title>{{ lugar?.nombre || 'Cargando...' }}</ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/notificaciones'">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="contenido-local">
  <div class="seccion-imagen">
    <img src="https://picsum.photos/375/200" alt="Local" />
    <div class="info-local" *ngIf="lugar">
      <p>{{ lugar.direccion }}</p>
      <p><strong>Horarios de atención:</strong><br>
        {{ lugar.dias_atencion.join(', ') }}<br>
        {{ lugar.horas_atencion.apertura }} ~ {{ lugar.horas_atencion.cierre }}
      </p>
    </div>
  </div>

  <div class="seccion-mas-vendidos" *ngIf="menu.length > 0">
    <h2>Menú del Local</h2>

    <swiper-container slides-per-view="1.2" navigation="false" pagination="false" class="mySwiper"
      style="width: 375px; height: 325px;" space-between="10">
      <swiper-slide *ngFor="let producto of menu">
        <menu-card
          [imagenComida]="producto.imagenes?.[0] || 'https://via.placeholder.com/150'"
          [nombreComida]="producto.producto"
          [precioComida]="producto.precio">
        </menu-card>
      </swiper-slide>
    </swiper-container>

    <ion-button [routerLink]="['/lugares-menu', lugar.id]" expand="block" fill="clear">
    Ver menú completo
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>

  </div>

  <div class="seccion-como-llegar" *ngIf="lugar">
    <h2>¿Cómo llegar?</h2>
    <img src="../../../assets/images/mapa.png" alt="Mapa" class="mapa-img" style="padding: 20px;" />
    <ion-button expand="block" fill="clear"
      [href]="'https://www.google.com/maps/search/?api=1&query=' + lugar.lat + ',' + lugar.lng" target="_blank">
      Abrir en Google Maps
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="seccion-comentarios" *ngIf="comentarios.length > 0">
    <h2>Comentarios</h2>
    <swiper-container slides-per-view="1.25" navigation="false" pagination="false" class="mySwiper"
      style="width: 375px; height: 115px;" space-between="10">
      <swiper-slide *ngFor="let comentario of comentarios">
        <div class="contenedor-opinion">
          <div class="seccion-superior">
            <span class="nombre-usuario">{{ comentario.usuario }}</span>
            <div class="calificacion">
              <ion-icon *ngFor="let estrella of [1,2,3,4,5]" name="{{ estrella <= comentario.resenia ? 'star' : 'star-outline' }}" size="large"></ion-icon>
            </div>
          </div>
          <div class="seccion-inferior">
            <p class="comentario">{{ comentario.comentario }}</p>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>

    <ion-button expand="block" fill="clear" (click)="presentModal()">
      Deja tu reseña
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
