/* Estilos generales */
body {
  font-family: "Monstserrat Regular", sans-serif; /* Fuente por defecto para el cuerpo */
  color: var(--ion-color-dark); /* Color de texto por defecto */
}

/* Sección 1: Imagen + info */
.seccion-imagen img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.seccion-imagen .info-local {
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Monstserrat Regular", sans-serif;
}

.seccion-imagen .info-local p:first-of-type {
  color: var(--ion-color-secondary); /* Dirección */
}

.seccion-imagen .info-local p:not(:first-of-type) {
  color: var(--ion-color-light); /* Otros textos */
}

/* Sección de títulos */
.seccion-mas-vendidos h2,
.seccion-como-llegar h2,
.seccion-comentarios h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0 20px;
  font-size: 20px;
  font-family: "Futura MD BT", sans-serif;
  color: var(--ion-color-primary);
  text-align: left;
}

/* Botones de todas las secciones */
.seccion-mas-vendidos ion-button,
.seccion-como-llegar ion-button,
.seccion-comentarios ion-button {

  height: 36px;
  margin: 10px 20px;
  margin-bottom: 20px;
  border-radius: 100px;
  background: linear-gradient(90deg, var(--ion-color-secondary), var(--ion-color-primary));
  font-size: 14px;
  font-family: "Monstserrat Regular", sans-serif;
  color: var(--ion-color-primary-contrast);
  --color: var(--ion-color-primary-contrast);
  letter-spacing: normal; /* Corrección del espaciado de letras */
  text-transform: none; /* Asegura que no haya transformación de texto */
}

/* Iconos dentro de los botones */
ion-button ion-icon {
  color: var(--ion-color-primary-contrast);
}

/* Estilos para el contenedor del swiper */
swiper-container {
  padding: 10px;
}

/* Estilos para el contenedor de opiniones */
.contenedor-opinion {
  width: 278px;
  height: 90px;
  background-color: white;
  border: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 20px;
  margin-left: 15px;
  box-sizing: border-box;
  margin-left: 10px;
}

/* Sección superior de la opinión (usuario y calificación) */
.seccion-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

/* Nombre del usuario */
.nombre-usuario {
  font-family: "Monstserrat SemiBold", sans-serif;
  font-size: 14px;
  color: var(--ion-color-primary-contrast);
}

/* Contenedor de la calificación */
.calificacion {
  display: flex;
  align-items: center;
}

/* Iconos de estrella en la calificación */
.calificacion ion-icon {
  font-size: 24px;
  color: var(--ion-color-primary);
  margin-left: 2px;
  width: px;
  height: 24px;
}

/* Sección inferior de la opinión (comentario) */
.seccion-inferior .comentario {
  font-family: "Monstserrat Regular", sans-serif;
  font-size: 14px;
  margin: 0;
  color: var(--ion-color-primary-contrast);
}
ion-toolbar {
  --background: var(--ion-color-primary);
}

ion-back-button {
  color: var(--ion-color-primary-contrast);
}

ion-title{
  font-family: "Futura MD BT", sans-serif;
  color: var(--ion-color-primary-contrast);
}
.calificacion[_ngcontent-ng-c4103533356] ion-icon[_ngcontent-ng-c4103533356]{
  padding: 0px;

  
}

.app-wrapper {
  width: 100%;
  box-sizing: border-box;
  
  @media (min-width: 600px) {
    max-width: 380px;
    margin: 0 auto;
    padding: 0 12px;

  }
}




