<ion-content>
  <div class="video-wrapper">
    <!-- Video de fondo -->
    <video autoplay muted loop playsinline id="bg-video">
      <source src="../../../assets/videos/fondo.mp4" type="video/mp4" />
      Tu navegador no soporta la reproducción de video.
    </video>
  </div>
  
  <!-- Logo animado -->
  <div id="logo" *ngIf="showLogo" [@logoAnimation]>
    <img src="../../../assets/images/NOX.png" alt="NOX logo" />
  </div>

  <!-- Texto y botones -->
  <div id="welcome" *ngIf="showWelcome" [@slideUp]>
    <h1>La noche te espera llena de planes increíbles.</h1>
    <div id="actions">
      <ion-button id="logIn" [routerLink]="'/login'" expand="full">Iniciar Sesión</ion-button>
      <ion-button id="signUp" [routerLink]="'/registro'" expand="full">Registrarse</ion-button>
    </div>
  </div>
</ion-content>
