<ion-header *ngIf="!isProcessing && paymentSuccess === null" [translucent]="true">
  <toolbar [pageTitle]="'Pago con Tarjeta'" [showBack]="true" [showSearch]="false" [showNotifications]="false" [showCart]="false" 
  [setColor]="'var(--ion-color-dark)'" 
  [toolColor]="'var(--ion-color-warning)'"></toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="app-wrapper">
      <!-- FORMULARIO -->
  <form *ngIf="!isProcessing && paymentSuccess === null" [formGroup]="cardForm" (ngSubmit)="submitPayment()">

    <ion-item style="--min-height: 60px;">
      <ion-label position="stacked">Número de tarjeta:</ion-label>
      <ion-input formControlName="cardNumber" type="text" maxlength="16"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de vencimiento:</ion-label>
      <ion-button expand="block" (click)="toggleFecha()">
        {{ fechaSeleccionada ? fechaSeleccionada : 'Seleccionar mes/año' }}
      </ion-button>
    </ion-item>

    <!-- Selector de fecha desplegable -->
    <ng-container *ngIf="mostrarFecha">
      <ion-item>
        <ion-datetime
          [value]="fechaTemp"
          presentation="month-year"
          [min]="'2025-01-01'"
          [max]="'2040-12-31'"
          display-format="MM/YYYY"
          placeholder="Selecciona mes/año"
          (ionChange)="onFechaChange($event)">
        </ion-datetime>
      </ion-item>
      <ion-button expand="block" color="success" (click)="confirmarFecha()">OK</ion-button>
    </ng-container>

    <ion-item>
      <ion-label position="stacked">CVV:</ion-label>
      <ion-input formControlName="cvv" type="password" maxlength="3"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombre(s):</ion-label>
      <ion-input formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido(s):</ion-label>
      <ion-input formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dirección de facturación:</ion-label>
      <ion-input formControlName="address"></ion-input>
    </ion-item>

    <ion-grid style="padding: 0px;">
      <ion-row>
        <ion-col size="7">
          <ion-item>
            <ion-label position="stacked">Celular:</ion-label>
            <ion-input formControlName="phone" placeholder="+591 77776666"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item>
            <ion-label position="stacked">Código postal:</ion-label>
            <ion-input formControlName="postalCode" placeholder="0000"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button expand="block" color="warning" type="submit">Verificar pago</ion-button>
  </form>

  <!-- PANTALLA DE PROCESANDO -->
  <div *ngIf="isProcessing" class="center-content">
    <ion-spinner name="circles" color="warning" style="transform: scale(2);"></ion-spinner>
    <ion-text color="warning" >
      <h4>Procesando pago...</h4>
    </ion-text>
    <ion-text color="warning" class="mensaje">
      <p>Este proceso puede demorar algunos minutos.</p>
    </ion-text>
  </div>

  <!-- PANTALLA DE RESULTADO -->
  <div *ngIf="!isProcessing && paymentSuccess !== null" class="center-content">
    <ion-icon
      [name]="paymentSuccess ? 'checkmark-circle-outline' : 'close-circle-outline'"
      [color]="paymentSuccess ? 'success' : 'danger'"
      style="font-size: 80px;">
    </ion-icon>
    <h2>{{ paymentSuccess ? 'Pago realizado correctamente' : 'El pago ha fallado' }}</h2>
    <ion-button expand="block" color="success" *ngIf="paymentSuccess" (click)="volverInicio()">
      Volver al inicio
    </ion-button>
    <ion-button expand="block" color="danger" *ngIf="!paymentSuccess" (click)="reintentarPago()">
      Reintentar pago
    </ion-button>
  </div>


  </div>
</ion-content>
